.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label span {
    color: #ff0000;
}

.ctct::-webkit-outer-spin-button,
.ctct::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ctct {
    -moz-appearance: textfield;
}

.ctct::-ms-clear {
    display: none;
}

.errormsg {
    font-size: 10px;
    margin-top: 5px;
    color: var(--red);
}

.logoimg {
    width: 250px;
    height: 50px;
}

.maindiv {
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px dashed #21242730;
    box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
}

.maindiv .row label {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: var(--fw-lg);
    margin-bottom: 5px;
}

.maindiv .row input,
.maindiv .row select,
.maindiv .row textarea,
.maindiv .row .checkdrp {
    border: 1px solid #21242730;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: var(--fw-md);
}

.maindiv .row .dropdown-menu {
    background-color: #fff;
    color: #000;
    border: 1px solid #21242730;
    height: 200px;
    overflow-y: scroll;
}

.maindiv .row select option {
    font-weight: var(--fw-lg);
}

.inpflex {
    width: 100%;
    border: 1px solid #21242730;
    border-radius: 0.375rem;
}

.inpflex input {
    width: 89%;
    border-right: 1px solid #000 !important;
    border-radius: 0.375rem 0px 0px 0.375rem;
}

.inpflex i {
    width: 11%;
    text-align: center;
}

/* Apply Button */
.applybtn {
    background-color: #231F20;
    color: #fff;
    font-size: 14px;
    font-weight: var(--fw-lg);
    border: 1px solid #231F20;
    height: 35px;
    border-radius: 5px;
    width: 150px;
}

.applybtn:hover {
    background-color: #fff;
    color: #231F20;
    transition: 0.5s ease-in-out;
}

