.select2-container--default .select2-selection--single {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    border: 1px solid var(--input-border);
    background-color: var(--secondary);
    font-size: 14px;
    font-weight: var(--fw-sm);
    border-radius: 0.375rem !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--primary);
    line-height: 18px;
    font-size: 14px;
}

.select2-results__option {
    padding: 5px 4px;
    font-size: 13px;
    font-weight: var(--fw-md);
}

.select2-container--default .select2-selection--multiple {
    background-color: var(--secondary);
    border: 1px solid var(--input-border);
    border-radius: 0.375rem;
    font-size: 14px;
    cursor: text;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
    /*cursor: pointer;*/
    /*float: right;*/
    /*font-weight: bold;*/
    /*height: 10px;*/
    /*margin-right: 10px;*/
    /*padding-right: 0px;*/
}

#mainTable .select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Table Select2Input CSS */
#mainTable td .select2input {
    width: 250px !important;
    font-size: 12px;
    padding: .375rem 2px !important;
}

#mainTable td .form-control {
    width: 100px !important;
    font-size: 12px;
    padding: .450rem 5px !important;
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 35px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 2px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Old CSS in form.css */
/*.select2-container--default .select2-selection--single {*/
/*    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;*/
/*    border: 1px solid var(--input-border);*/
/*    background-color: var(--white);*/
/*    font-size: 14px;*/
/*    font-weight: var(--fw-md);*/
/*    border-radius: 0.375rem !important;*/
/*}*/

/*.select2-container .select2-selection--single {*/
/*    box-sizing: border-box;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    height: 35px;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*}*/

/*.select2-container--default .select2-selection--single .select2-selection__rendered {*/
/*    color: #444;*/
/*    line-height: 18px;*/
/*}*/

/*.select2-container--default .select2-selection--single .select2-selection__arrow {*/
/*    height: 35px;*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    right: 1px;*/
/*    width: 20px;*/
/*}*/

/*.select2-results__option {*/
/*    padding: 2px 4px;*/
/*    font-size: 14px;*/
/*    font-weight: var(--fw-md);*/
/*}*/

/*.select2-container--default .select2-selection--single {*/
/*    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;*/
/*    border: 1px solid var(--input-border);*/
/*    background-color: var(--secondary);*/
/*    font-size: 14px;*/
/*    font-weight: var(--fw-sm);*/
/*    border-radius: 0.375rem !important;*/
/*}*/

/*.select2-container .select2-selection--single {*/
/*    box-sizing: border-box;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    height: 30px;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*}*/

/*.select2-container--default .select2-selection--single .select2-selection__rendered {*/
/*    color: var(--primary);*/
/*    line-height: 20px;*/
/*    font-size: 14px;*/
/*}*/

/*.select2-container--default .select2-selection--single .select2-selection__arrow {*/
/*    height: 32px;*/
/*    position: absolute;*/
/*    top: 1px;*/
/*    right: 1px;*/
/*    width: 20px;*/
/*}*/

/*.select2-results__option {*/
/*    padding: 5px 4px;*/
/*    font-size: 13px;*/
/*    font-weight: var(--fw-md);*/
/*}*/

/*.select2-container--default .select2-selection--single {*/
/*    background-color: var(--secondary);*/
/*    border: 1px solid var(--input-border);*/
/*    border-radius: 0.375rem;*/
/*}*/

/*.select2-container--default .select2-selection--multiple {*/
/*    background-color: var(--secondary);*/
/*    border: 1px solid var(--input-border);*/
/*    border-radius: 0.375rem;*/
/*    font-size: 14px;*/
/*    cursor: text;*/
/*}*/